.faq-section {
  background-color: #f8d77e;
  padding: 50px 0;
}

.accordion-button {
  background-color: #ab8efa;
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: #4c7031;
  color: white;
}

.accordion-body {
  background-color: #699d42;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 20px;
}

.logo{
  max-width:100px;
  max-height:100px;
}

nav{
  background-color: #FFF0CB;
}

.strokeme {
  font-size: 50px;
  font-family: serif;
  /*text-align: center;*/
  color: #4C7031;
   text-shadow: -1px -1px 0 #F2AE1C, 1px -1px 0 #F2AE1C, 1px 1px 0 #F2AE1C,
    1px 1px 0 #F2AE1C;
}
